# Module: elasticsearch
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/main/metricbeat-module-elasticsearch.html

- module: elasticsearch
  xpack.enabled: true
  period: 10s
  hosts: ["localhost:8080"]
  username: "{{ ES_ADDON_USER }}"
  password: "{{ ES_ADDON_PASSWORD }}"
